<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="nl.timeseries.plugin.pm80"
        version="0.1.0">

  <name>PM80</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/pm80.js" target="js/pm80.js"/>

  <js-module src="www/pm80.js" name="pm80">
    <clobbers target="pm80" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PM80">
        <param name="android-package" value="com.timeseries.plugin.pm80"/>
      </feature>
    </config-file>

    <source-file src="src/android/pm80_msr.java" target-dir="src/com/timeseries/plugin/pm80/"/>
  </platform>

</plugin>