<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="nl.timeseries.plugin.pm80"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="0.1.0">

  <name>PM80</name>

  <!-- cordova -->
  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <!-- dependencies -->
  <dependency id="cordova-plugin-device" />

  <!-- js -->
  <js-module src="www/pm80.js" name="pm80">
    <clobbers target="cordova.plugins.PM80" />
  </js-module>

  <platform name="android">
    <!-- android -->
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PM80">
        <param name="android-package" value="nl.timeseries.plugin.pm80.PM80"/>
      </feature>
    </config-file>
    <source-file src="src/android/device.sdk.jar" target-dir="libs" framework="true" />
    <source-file src="src/android/PM80.java" target-dir="src/nl/timeseries/plugin/PM80/"/>
  </platform>

</plugin>